<article
  class="group flex items-center bg-white dark:bg-theme-dark-very-dark-desaturated-blue text-theme-light-dark-grayish-blue py-3 md:py-4 px-5">
  <app-check-todo></app-check-todo>
  <div
    class="cursor-pointer text-left w-full mx-3 outline-none dark:bg-theme-dark-very-dark-desaturated-blue text-theme-dark-very-dark-grayish-blue dark:text-theme-dark-light-grayish-blue">
    <p>Complete todo App on Frontend Mentor</p>
  </div>
  <!-- <div
    class="cursor-pointer line-through text-left w-full mx-3 outline-none text-theme-light-light-grayish-blue dark:bg-theme-dark-very-dark-desaturated-blue dark:text-theme-dark-dark-grayish-blue">
    <p>Complete todo App on Frontend Mentor</p>
  </div> -->
  <button class="hidden group-hover:block">
    <img
      class="w-3.5 h-3 md:w-4 md:h-4"
      src="/assets/icon-cross.svg"
      alt="delete" />
  </button>
</article>
